@font-face {
    font-family: "Eurofurence"; 
    src: url("../fonts/eurofurence/eurofurencelight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "BebasNeue"; 
    src: url("../fonts/bebasneue/bebasneuebook.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "MadeTheArtistScript"; 
    src: url("../fonts/madetheartistscript/Madetheartistscript.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 



